*{
  padding: 0;
  margin: 0;
  font-family: 'LeferiPoint-WhiteObliqueA';
}

body{
  background-color: #2c3e50;
}

@font-face {
  font-family: 'LeferiPoint-WhiteObliqueA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}